@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Ubuntu Mono', monospace;
}

@layer components{
    .animation{
        @apply transition-all duration-300 ease-in-out
    }
}

.bg-hero{
    background-image: url('../img/hero-bg.png');
}

.bg-study{
  background-image: url('../img/study-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pattern {
    background-color: #F9FAFB;
    background-image: radial-gradient(circle, #9CA3AF 0%, transparent 10%), radial-gradient(circle, #9CA3AF 0%, transparent 10%);
    background-size: 35px 30px;
    background-position: 0 0, 100 100;
}